nav {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%;
}
@media only screen and (max-width: 1140px) {
  nav {
    margin-left: 13%;
  }
}
@media only screen and (max-width: 810px) {
  nav {
    margin-left: 0px;
    flex-direction: column;
  }
}
